@font-face {
	font-family: 'miFuente';
	src: url(../fuentes/Smallville1.ttf);
}

#fuente-personalizada {
	width: 100%;
	font-family:  'miFuente';
	font-size: 60px;
}

html{
	height: 100%;
}

body {
	background-color: #f6e492;
	text-align: center;
	width: 1000px;
	background-size: contain;
	margin:5% auto 10% auto;
	border:15px solid black;
	border-bottom-color:#666666;
	border-left-color:#333333;
	display: flex;
	justify-content: center;
	align-content: center;
}
.pointer{
	cursor: pointer;
}
.red {
	cursor: pointer;
	color:red;
}
.green {
	cursor:pointer;
	color:green;
}
.yellow {
	cursor: pointer;
	color:rgb(195, 195, 0);
}
.orange {
	cursor: pointer;
	color:orange;
}
.black {
	cursor: pointer;
	font-weight: 600;
}
.black_number{
	font-weight: 600;
}
.sub {
	text-decoration: underline;
}

